{% extends 'layout.html' %}

{% block content %}
    <div class="mainview">
        <table id="user-list">
            <thead>
            <tr>
              <th>강의번호</th>
              <th>이름</th>
              <th>수강실</th>
              <th>수용인원</th>
            </tr>
            </thead>
            <tbody>
              {% for course in allcourse %}
              <tr>
                <td>{{course.id}}</td>
                <td>{{course.name}}</td>
                <td>{{course.room}}</td>
                <td>{{ course.capacity}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}
